/* Estilos gerais*/
body{
    font-family: Ariel, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

main {
    padding: 20px
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

section img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px
}

h2 {
    color: #4CAF50;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}